*{
  margin: 0 auto;
  padding: 0;	
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background-color: #d7e3f4;
  background-image: url("../img/cow.jpg");
  background-size: 100% auto;
  /*background-position: center 100%;*/
  background-repeat: no-repeat;
  text-align: center;	 
}
  @media (min-width: 1024px) {
    .header {
      min-height: 700px; } }


.language-switcher {
  position: absolute;
  top: 0;
  right: 30px;
  height: 50px;
  flex-direction: row; }
  .language-switcher .language-switcher__item {
    display: inline-block;
    align-self: center; }
    .language-switcher .language-switcher__item_active {
      pointer-events: none;
      cursor: default;
      color: #DDD9D5 !important;
      text-decoration: none !important; }
    .language-switcher .language-switcher__item a.nav-link {
      text-decoration: underline;
      padding-right: 0.5rem;
      color: #f9f9f9;
      font-size: 1.1rem;
      font-weight: 400;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
      font-family: "PT Sans", sans-serif;
      transition: 0.2s; }
      @media (min-width: 1024px) {
        .language-switcher .language-switcher__item a.nav-link {
          font-size: 1.1rem; } }
      .language-switcher .language-switcher__item a.nav-link:hover {
        text-decoration: none;
        color: rgba(249, 249, 249, 0.8); }
      .language-switcher .language-switcher__item a.nav-link:active {
        color: rgba(249, 249, 249, 0.8); }

#burg{
	width: 98%;
	background: #403B4A;
	padding: 7.5px 0 7.5px 2%;
}
#burg span{
	display: flex;
	margin: 8px;
	width: 30px;
	height: 3px;
	background: white;
	z-index: 999;
}
.mobile-tab{
	display: flex;
	width: 100%;
	background: #403B4A;
  background: -webkit-linear-gradient(to top, #E7E9BB, #403B4A);
  background: linear-gradient(to top, #E7E9BB, #403B4A);
}
#desktop{
	display: none;
}
.mobile-tab a{
  color: #232323;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-family: "PT Sans";
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all.1s ease-in-out;
}
.mobile-tab li{
	list-style-type: none;
	margin:5% 5%;
}
.mobile-tab a:hover{
	color: pink;
}
.mobile-tab ul{
	padding: 5% 0;
}

@media screen and (min-width: 965px){
	.mobile-tab,#burg,#mobile{
		display: none;
	}
	.bar{
	  background: -webkit-linear-gradient(bottom, #E7E9BB, #403B4A);
	  background: -o-linear-gradient(bottom, #E7E9BB, #403B4A);
	  background: linear-gradient(to top, #E7E9BB, #403B4A);
	  display: flex;
		width: 100%;
		align-items: center;
		justify-content: flex-start;
	}
	.mobile-bar{
		display: none;
	}
	#desktop{
		display: flex;
	}
	.bar a{
		text-decoration: none;
		color: #232323;
		margin: 0;
	}
	 a:hover{
    text-decoration: underline;
  }
	.bar ul{
		display: inline-flex;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	.bar li{
		color: white;
		cursor: pointer;
		font-weight: lighter;
	  background: -webkit-linear-gradient(bottom, #E7E9BB, #403B4A);
	  background: -o-linear-gradient(bottom, #E7E9BB, #403B4A);
	  background: linear-gradient(to top, #E7E9BB, #403B4A);
		padding: 10px 0px 10px 10px;
		width: 140px;
		letter-spacing: 1px;
		font-size: 1.5rem;
	  font-family: "PT Sans";
	  font-weight: 700;
	  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		transition: all.1s ease-in-out;
	}
	@media (max-width: 1200px){
		.bar li{font-size: 1.2rem;padding: 10px 0px 10px 0px;}
	}
	.bar li:hover a{
		color: pink;
	}
}

.header__logo {
  position: absolute;
  width: 90px;
  top: 15%;
  left: calc(50% - 45px); }
  @media (min-width: 1024px) {
    .header__logo {
      width: 130px;
      top: 15%;
      left: calc(50% - 65px); } }
  @media (max-width: 960px) {
  	.header__logo{
  		transform: scale(0.8);
  	}
  }

.header__title {
  position: absolute;
  width: 100%;
  top: 35%;
  text-align: center; }
  @media (min-width: 1024px) {
    .header__title {
      top: 35%; } }
  @media (max-width: 960px) {
  	.header__title{
  		top: 1%;
  	}
  }    

.header__subtitle {
  position: absolute;
  width: 200px;
  font-weight: 200;
  top: 45%;
  left: calc(50% - 100px); }
  @media (min-width: 1024px) {
    .header__subtitle {
      width: 390px;
      top: 45%;
      left: calc(50% - 195px); } }
  @media (max-width: 960px) {
  	.header__subtitle{
  		transform: scale(0.8);
  		width: 443px;
  		margin: -40px 0px 0px -130px;
  	}
  }  
  @media (max-width: 600px) {
  	.header__subtitle{
  		transform: scale(0.8);
  		width: 443px;
  		margin: -100px 0px 0px -130px;
  	}
  }   

.header__slogan {
  width: 160px;
  position: absolute;
  color: #ff80b2; 
  font-size: 1.33rem;
  line-height: 1rem;
  top: 75%;
  left: calc(50% - 80px);
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);  }
  @media (min-width: 1024px) {
    .header__slogan {
      top: 65%;
      left: calc(50% - 80px);
      font-size: 2rem;
      line-height: 1.7rem;
      text-align: center; } }
  @media (max-width: 960px) {
  	.header__slogan {
      top: 10%;
    }
  }     
  @media (max-width: 600px) {
  	.header__slogan {
      top: 10%;
    }
  }    

.header__hashtag {
  position: absolute;
  color: #ff80b2; 
  font-size: 0.92rem;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Ubuntu Mono', sans-serif;
  top: 85%;
  left: 0;
  right: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); }
  .header__hashtag:hover {
    color: #ffaacc; 
    text-decoration: none; }
  @media (min-width: 1024px) {
    .header__hashtag {
      top: 80%;
      font-size: 1.5rem; } }
  @media (max-width: 960px) {
  	.header__hashtag {
  		transform: scale(2);
      top: 35%;
      color:fuchsia;
    }
  }            
  @media (max-width: 600px) {
  	.header__hashtag {
  		transform: scale(2);
      top: 28%;
      color:fuchsia;
    }
  }                
	